<div class="box">

	<%= link_to (image_tag pin.image(:medium)), "#myModal#{pin.id}", "data-toggle" => "modal" %>
	<p class="description"><%= pin.description %></p>
	<p><strong>by <%= link_to "#{pin.user.name}", user_path(pin.user) %></strong></p>	
	<p><%= link_to (pluralize(pin.comments.count, 'comment')), pin %></p>		

	<!-- Like options for signed-in users -->
	<% if user_signed_in? %>
		<div id="like_star_<%= pin.id %>">
			<%= render 'pins/star', :pin => pin %>
		</div>
	<% end %>

	<!-- Edit options for image owner -->
	<% if current_user == pin.user %>
		<p>
		  <%= link_to 'Edit', edit_pin_path(pin) %> |
		  <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
		</p>
	<% end %>

</div><!-- End box -->

<!-- Modal Window for images -->
<%= render 'pins/modal', :pin => pin %>


