<div class="avatar">
	<%= image_tag avatar_url(@user, 120) %>
</div>
<div class="user-info">
	<h2><%= @user.name %></h2>
	<p><%= @user.email %></p>
</div>
<div id="pins">
	<% unless @user.pins.blank? %>	
		<% @user.pins.each do |pin| %>
			<div class="box">
				<%= link_to (image_tag pin.image(:medium)), "#myModal#{pin.id}", "data-toggle" => "modal" %>
				<p class="description"><%= pin.description %><p>	
				<p><%= link_to (pluralize(pin.comments.count, 'comment')), pin %></p>
				<p><%= pluralize(pin.likes.count, 'like') %></p>			
			</div>
			<!-- Image Modal Window -->
			<%= render 'pins/modal', :pin => pin %>
	  <% end %>	
	<% else %>
		Nothing pinned yet!
	<% end %>
</div>
