<h2><%= @user.name %></h2>
<p><%= @user.email %></p>
<div id="pins">
	<% @user.pins.each do |pin| %>
		<div class="box">
			<%= link_to (image_tag pin.image(:medium)), "#myModal#{pin.id}", "data-toggle" => "modal" %>
			<p class="description">
				<%= pin.description %>
			<p>				
		</div>
	
		<div id="myModal<%= pin.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	  
		  <div class="modal-body">
		    <%= image_tag pin.image(:large) %>
		    <p><%= pin.description %></p>    
		    <span class="small"><%= link_to "Show Full Size", pin %></span>
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		  </div>
		</div>
  <% end %>
</div>
