<!DOCTYPE html>
<html>
<head>
  <title>QuickPins!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>	
<%= render 'layouts/header' %>
<div class="container">
	<%= render 'layouts/login' %>
</div>
<div class="container">
	<% flash.each do |name, msg| %>
	  <% if msg.is_a?(String) %>
	    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	      <a class="close" data-dismiss="alert">&#215;</a>
	      <%= content_tag :div, msg, :id => "flash_#{name}" %>
	    </div>	    
	  <% end %>
	<% end %>		
	<%= yield %>	
	<div id="back_to_top">
		<%= link_to (image_tag 'back-to-top.png'), '#' %>
	</div>	
	
</div>

<script type="text/javascript">
	$(document).ready(function(){
		// Prevent closing the sign in form on click 
		$("#dropdown-login").click(function(e) { 
   		e.stopPropagation(); 
		});
		// Fade out alert messages
		$(".alert").fadeOut(4000);
	});
</script>

</body>
</html>
