<!DOCTYPE html>
<html>
<head>
  <title>QuickPins!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>	
<%= render 'layouts/header' %>
<div class="container">
	<%= render 'layouts/login' %>
</div>
<div class="container">
	<%= render 'layouts/messages' %>
</div>
<% unless user_signed_in? %>
	<div class="welcome">
		<%= render 'pages/home' %>
	</div>
<% end %>
<div class="container">			
	<%= yield %>	
	<div id="back_to_top">
		<%= link_to (image_tag 'back-to-top.png'), '#' %>
	</div>		
</div><!-- End container -->

<script type="text/javascript">
	$(document).ready(function(){		
		/////////////// Hide alert messages after 2 seconds////////////////////
		setTimeout(function(){
			$(".alert").slideUp();
		}, 2000);		
	});
</script>

</body>
</html>
